/*Toolbox style*/
.toolbox
{
	background-image:url(img/bg-tools.png);
	height:100%;
	margin:0px !important;
	overflow-y:scroll;
	position:fixed;
	width:250px;
}
.toolbox-content
{
	text-align:center;
}
#colorPicker
{
	background:#000000;
}
#size
{
	width:60px !important;
	height:30px;
}
.name
{
	font-size: 1.1em !important;
}
/*end toolbox*/

/*content style*/
.content
{
	float:left;
	margin-left:290px;
	text-align:center;
	width:900px;
}
/*end content*/

/*color box*/
#red
{
	background: #FF0000;
}
#blue
{
	background: #0033CC;
}
#pink
{
	background: pink;
}
#black
{
	background: black;
}
#white
{
	background: white;
}
#purple
{
	background: purple;
}
#yellow
{
	background: yellow;
}
#green
{
	background: green;
}
.formColor
{
	color:white !important;
	height:26px !important;
}
.actualColor
{
	width:50px;
	height:50px;
	background-color:black;
	margin-left:95px;
	margin-bottom:10px;
}
/*end color box*/

/*buttons style*/
.btn
{
	width: 54px;
	height: 34px;
}
/*end buttons style*/

/*canvas zone*/
.can-content
{
	cursor:crosshair;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	height:700px;
	width:900px;
	margin-bottom:50px;
}
/*end canvas*/